.btn{
    margin-top: 30px;
    /*background: #34495e;*/
    margin-bottom: 10px;
}
th{
    color: #fff;
}
.navbar{
    background: #34495e;
}
body{
    background: #e4f1fe;
}
.nav-link{
    font-size: 1.4em;
}
.navbar-brand{
    font-size: 1.8em;
}
.fas{
    font-size: 40px;
    color: #fff;
}
.far{
    padding: 10px;
    font-size: 20px;
}
.fa-edit{
    border-right: 2px dotted #34495e;
}
p:hover{
    color:green;
    font-weight: bold;

}
#codigoQR{
    width: 256px;
    height: 256px;
    margin-top: 25px;
    border: 2px solid #eee;
}  